<script type="text/template" id="signup-template">
    <div class="center-container">
        <div class="auth-box">
            <h1>Signup</h1>
            <form class="auth-form" id="signup-form">
                <p>
                    <label for="username-input">Username:</label>
                    <input type="text" id="username-input">
                </p>
                <p>
                    <label for="password-input">Password:</label>
                    <input type="password" id="password-input">
                </p>
                <button id="signup-btn">Signup</button>
            </form>
            <span class="error"></span>
        </div>
    </div>
</script>
