html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    min-width: 230px;
    max-width: 550px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button, input[type="checkbox"] {
    outline: none;
}

#app-container, .app-content {
    height: 100%;
}

.error {
    color: red;
}

.todoapp {
    position: relative;
}

.new-todo, .edit {
    position: relative;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    outline: none;
    border: none;
}

.hidden {
    display: none;
}

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.todo-list li label {
    margin-left: 45px;
    padding: 15px 60px 15px 15px;
    display: block;
    line-height: 1.2;
}

.todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}


.todo-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-list li .destroy {
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    margin-bottom: 11px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
    color: #af5b5e;
}

.todo-list li:hover .destroy {
    display: block;
}

.todo-list li .destroy:after{
    content: 'x';
}

.todo-list input.edit {
    display: none;
}

.todo-list .editing .view {
    display: none;
}

.todo-list .editing input.edit {
    display: block;
    width: 506px;
    margin-left: 43px;
    padding: 13px 17px 12px 17px;
}

.footer {
    padding: 10px 15px;
    height: 20px;
    text-align: center;
}


.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
}

.todo-count {
    float: left;
    text-align: left;
}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.filters li {
	display: inline;
}

.filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.filters li a.selected,
.filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
	border-color: rgba(175, 47, 47, 0.2);
}


.clear-completed,
html .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

div.center-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.auth-box {
    padding: 25px;
    background-color: #eee;
}
